<!--
  ~ Copyright © 2020 Aleksandr Kolbasov
  -->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <script>
        let js;
    </script>
</head>
<body>


<div id="tables">
    <table>
        <tr v-for="(row, rowId) of arr">
            <td v-for="(value, colId) of row">
                <b v-if="rowId == 0 || colId == 0">{{value}}</b>
                <input v-else type="text" v-model="arr[rowId][colId]"/>
            </td>
        </tr>
    </table>

    <button @click="canExportResults = false" onclick="js.resize()">Изменить размер</button>
    <div>
        <input type="file" id="fileImport" accept="text/csv" onchange="js.csvImport()" style="display: none;">
        <button @click="canExportResults = false" onclick="document.getElementById('fileImport').click()">Import CSV</button>

        <a id="fileExport" style="display: none;">(Export link)</a>
        <button onclick="js.csvExport()">Export CSV</button>
    </div>

    <br>
    <button @click="canExportResults = true" onclick="js.calc()">Вычислить</button>

    <table v-if="canExportResults">
        <tr v-for="(row, rowId) of calcArr">
            <td v-for="(value, colId) of row">
                <b v-if="rowId == 0 || colId == 0">{{value}}</b>
                <input v-else-if="calcArr[rowId][colId].hasError" v-model="calcArr[rowId][colId].errorMessage" style="color: red;"/>
                <input v-else type="text" v-model="calcArr[rowId][colId].result"/>
            </td>
        </tr>
    </table>

    <button v-if="canExportResults" onclick="js.csvExportResults()">Экспорт результатов</button>
</div>

<!-- Vue.js -->
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="module">
    import * as site from './site.js';
    js = site;
</script>
<!--<script type="module" src="site.js"></script>-->

</body>
</html>
